:root {
    --negro: #000000ff;
    --oscuro: #1c1c1f;
    --color: #F2F2F2;
    --lila: #8a6df1ff;
}
  
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-weight: 300;
    box-sizing: border-box;
}

body {
    color: white;
    min-height: 100vh;
    position: relative;
    width: 100vw;
  }

.container {
    position: absolute;
    top: 50%;
    left: 8%; 
    transform: translate(-5%, -50%);
}

form {
    background: linear-gradient(#bd09b7, #6b4cf5);
    border-radius: 20px;
    box-shadow: 
    inset 0 -3em 3em rgba(0,0,0,0.5),
    0 0  0 2px rgb(255,255,255),
    0.3em 0.3em 1em rgba(0,0,0,0.5);
    margin: 0 auto;
    min-width: 100%;
    padding: 20px;
}

form .form-header {
    margin-bottom: 1rem;
}

form .form-header h2 {
    font-weight: 700;
    margin-bottom: .8rem; 
}

form label {
    margin-bottom: .3rem;
    width: 100%;
}

form input, select{
    border: 2px solid var(--color);
    margin-bottom: 1rem;
    padding: 7px;
    width: 100%;
}

form input:focus, select:focus{
    border: 2px solid var(--lila);
    outline: none;
}

form .container-genero, option{
    color: var(--oscuro);
}

form .terminos input{
    margin-bottom: 1rem;
    width: auto;
}

form .container-btn {
    height: 30px;
    position: relative;
    width: 100%;
}

form button{
    border: none;
    color: var(--oscuro);
    cursor: pointer;
    font-weight: 400;
    padding: 5px 15px; 
    position: absolute;
    right: 0;  
}

form button:hover{
    background-color: #bd09b7;
    color: var(--color);
}


@media (min-width: 500px) {
    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    form {
        min-width: 300px;
        max-width: 300px;
    }
}
